header{
    height: auto;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #8ab6d6;
    text-align: center;
    border-radius: 3px;
}

body{
    background-color: #d8e3e7;
}

form{
    padding: 50px 50px 50px 50px;
    height: auto;
    margin-top: 15px;
    text-align: center;
    background-color: white;
    border-radius: 4px;
}